@media (min-width: 576px){
    .chart{
        height: 400px;
        width: 500px;
    }

    .momentos_Ico {
        width: 120px;
        height: 120px;
        background-size: contain;
        
    }
    
    .momentos {
        height: fit-content;
    }

    .numbertext, .momentosSlider {
        display: none;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }

    .galleryPic {
        flex-basis: 530px;
        margin-bottom: 10px;
        object-fit: cover;
    }

}