:root {
  --red: #640A14;
  --orange: #D7491B;
  --brown: #9E4620;
  --sugar: #AC4314;
  --white: #C7B9AE;
  --gray: #A1977F;
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  --whiter: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: hsl(235, 16%, 14%);
  --very-dark-black-blue: hsl(234, 17%, 12%);
}

body {
    margin: 0;
    font-family: "Junge";
  }
  
  .parallax {
    height: 100vh;
    overflow-x: hidden;
  
    perspective: 1px;
  }
  
  .parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }
  
  .layer1 {
    transform: translateZ(0);
  }
  
  .layer2 {
    transform: translateZ(-1px) scale(2);
  }
  
  .layer3 {
    transform: translateZ(-2px) scale(3);
  }
  
  /* specific to this implementation */
  div {
    text-align: center;
  }
  
  .parallax-layer.layer1 {
    width: 100%;
    height: fit-content ;
    
    z-index: 2;
    top: 50px;
  }
  
  .parallax-layer.layer2 {
    top: 2px;
  
    width: 100%;
    min-height: 360rem;
    z-index: 1;
    background-image: url("./assets/FONDO.jpg");
    background-size: cover;
    background-position: 0 1200px;
  }
  

  .imgmg {
    margin-top: 30px;
  }
  .imgmg img {
    max-width: 70%;
    border-radius: 10px;
    -webkit-mask-image: radial-gradient(circle, var(--white) 50%, transparent 100%);
    mask-image: radial-gradient(circle, var(--white) 50%, transparent 100%);
  }

  .anillos {
    background-image: url("./assets/Gran-dia.svg");
    width: 100px;
    height: 120px;
    background-repeat: no-repeat;
    align-self: center;
    font-size: 18px;
    text-align: center;
    display: flex;
    margin-bottom: 10px;
  }

  .anillos .textdia {
    align-self: flex-end;
    font-size: 18px !important;
  }

  .chart {
    position: relative;
    top: 0;
    width: 22rem;
    
    align-self: center;

  }

  .chart img{
    width: 100%;
  }

  .wedDate {
    font-family: "Playball";
    color: va(--orange);
    font-size: 2.5rem;
  }

  .grandia {
    width: 18rem;
    align-self: center;
  }

  .grandia img {
    overflow-clip-margin: content-box;
    overflow: cli;
  }


  .grid-container {
    margin-top: 20px;
    font-weight: 200;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: fit-content;
    height: fit-content;
    
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}

.grid-item p{
  margin-top: 0;
}

.grid-item span{
  font-size: 1rem;
}

.titles {
    grid-column: span 4;
    font-size: 48px;
    /* background-color: var(--sugar); */
    color: var(--red);
}

.title {
  margin-top: 1.2rem;
  font-size: 18px;
  /* background-color: var(--sugar); */
  color: var(--red);
}

.musicBox {
  position: relative;
  align-self: center;
  width: 320px;
  color: var(--gray);
  margin-top: 110px;
  left: -15px;
}
.shape {
  filter: drop-shadow(8px 4px 26px rgba(0, 0, 0, 0.4));

}


.square {
  width: 300px;
  height: 90px;
  position: relative;
  left: 20px;
  background-color: var(--white);
  border-radius: 10px;

}

.circle {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  top: -45px;
  background-color: var(--white);
  left:30px;

}

.buttonsPanel {
  display: flex;
  position: absolute;
  z-index: 3;
  top: 30px;
  right: 30px;
}

.mB {
  margin-left: 45px;
  font-size: 1.7rem;
}

.cd {
  position: absolute;
  border-radius: 50px;
  height: 85px;
  width: 85px;
  top: 2.5px;
  left: 2.5px;
  background-image: url("./assets/bg2.jfif");
  background-size: contain;
}

.cdcenter {
  position: absolute;
  background-color: rgb(226, 217, 217);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  top: 35px;
  left: 35px;
  border: 1px solid #857b7b;
}

.historia {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  background-color: var(--white);
  padding: 40px;
  border-radius: 5px;
  width: 70%;
  align-self: center;
  box-shadow: 0 10px 30px black;
  padding-bottom: 10px;
  max-width: 505px;
}

.historiaimg {
  background-image: url("./assets/historia.png");
  height: 200px;
  width: 295px;
  align-self: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.historiaTexto em {
  color: var(--orange);
}

.historiarings {
  background-image: url("./assets/rings.svg");
  height: 80px;
  width: 73px;
  align-self: center;
  background-repeat: no-repeat;
  margin-top: 10px;
}

.cone {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.lefside {
  width: 50px;
    height: 50px;
    background-color: var(--white); 
    mask-image: radial-gradient(circle, transparent 70%, black 75%);
    mask-position: right top;
    mask-size: 200% 200%;
}

.rightside {
  width: 50px;
  height: 50px;
  background-color: var(--white); 
  mask-image: radial-gradient(circle, transparent 70%, black 75%);
  mask-position: left top;
  mask-size: 200% 200%;
}


.lefside::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3498db;
  mask-image: radial-gradient(circle, transparent 70%, black 85%);
  mask-position: right top;
  mask-size: 200% 200%;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5)); /* Sombra alrededor de la máscara */
  
}

.momentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-self: center;
  width: 100%;
  height: 900px;

}

.momentos_Ico {
  width: 80px;
  height: 88px;
  background-image: url("./assets/Nuestros-momentos.svg");
  background-repeat: no-repeat;

}

.cartText {
  font-family: "Playball";
  font-size: 32px;
  color: var(--sugar);
}

.momentosSlider {
  height: 100%;
}

.details {
  margin-top: 40px;
}

.details, .detailHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-bottom: 15px;
}

.locationIco{
  align-self: center;
  width: 80px;
  height: 120px;
  margin-left: 80px;
  background-image: url(./assets/position.svg);
  background-repeat: no-repeat;
}

.hojitas {
  width: 260px;
  height: 30px;
  background-image: url("./assets/Hojitas.svg");
  background-repeat: no-repeat;
}

.place {
  margin-top: 40px;
}

.placeName {
  font-size: 18px;
  margin-top: 14px;
}

.detailButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.btn {
  width: 194px;
  height: 48px;
  background-color: var(--sugar);
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--white);
  align-self: center;

}
a:link, a:visited, a:active {
  text-decoration:none;
}

.detailpic {
  width: 288px;
  height: 240px;
  background-image: url("/assets/villa.jpg");
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
  -webkit-mask-image: radial-gradient(circle, white 70%, transparent 100%);
  mask-image: radial-gradient(circle, white 70%, transparent 100%);
  border-radius: 5px;
  background-size: contain;
}

.hour {
  font-size: 22px;
}

.codigo {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--sugar);
  margin-top: 60px;
}

.dress {
  margin-top: 20px;
  width: 150px;
  height: 120px;
  background-image: url("/assets/Dress-code.svg");
  background-size: contain;
  background-repeat: no-repeat;
}


.countdown {
  display: flex;
  gap: 10px;
  text-align: center;
  margin: auto;
}

.flip-card {
  font-size: 35.5px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  align-items: center;
}

.top-flip,
.bottom-flip {
  position: absolute;
}

.top-flip {
  transform-origin: bottom;
  transform: rotateX(0deg);
  animation: flip-top 0.5s ease-in forwards;
}

.bottom-flip {
  bottom: 0;
  animation: flip-bottom 0.5s ease-out 0.5s;
  transform-origin: top;
  transform: rotateX(90deg);
}

.top,
.bottom,
.top-flip,
.bottom-flip {
  height: 33px;
  width: 50px;
  padding: 11px 1px;
  color: var(--white);
  overflow: hidden;
  text-align: center;
}

.top,
.top-flip {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.7);
  background-color: var(--sugar);
}

.bottom,
.bottom-flip {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--brown);
  box-shadow: 0 2px rgb(71, 83, 115, 0.2) inset;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@keyframes flip-top {
  to {
    transform: rotateX(90deg);
  }
}

@keyframes flip-bottom {
  to {
    transform: rotateX(0deg);
  }
}

@media (min-width: 576px) {
  .flip-card {
    font-size: 65px;
  }

  .countdown {
    gap: 25px;
  }

  .top,
  .bottom,
  .top-flip,
  .bottom-flip {
    height: 67px;
    width: 100px;
    padding: 27px 10px;
  }

  .footer > img {
    width: 100%;
  }

  .media > span {
    margin-right: 25px;
  }

  .attribution {
    font-size: 1rem;
    bottom: 1vw;
  }
}

.agenda { margin-top: 40px;}

.regalos {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: 40px;
}

.sobre {
  width: 120px;
  height: 100px;
  margin: 20px 0;
}

.grid-item p {
  min-width: 75px;
}

.gallery {
  display: none;
}


.qr {
  background-image: url(./assets/kashtag.jfif);
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  left: 15px;
}

.cuentas, .cuenta, .kashtag {
  margin-top: 40px;
}

.cuentas {
  margin-bottom: 20px;
  background-color: var(--sugar);
  font-weight: bold;
  padding: 10px;
  height: 560px;
  transition: height 0.5s ease;
}

.hidden {
   height: 1px;
   overflow: hidden;
}